<?xml version="1.0"?>
<robot name="audibot_mod" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/hokuyo.urdf.xacro"/>

  <xacro:hokuyo_utm_30 name="laser_front" parent_frame="base_footprint" x="0.0" y="0.0" z="3.0" roll="0.0" pitch="0.0" yaw="0.0" />

</robot>